<form method="post" action="/" enctype="application/x-www-form-urlencoded">

  <div class="field<%= locals.isInvalid('name', errors) ?  ' field--invalid' : '' %>">
    <label for="name">Nafn*</label>
    <input type="text" name="name" id="name" value="<%= formData.name %>" class="">
  </div>

  <div class="field<%= locals.isInvalid('phone', errors) ?  ' field--invalid' : '' %>">
    <label for="phone">Sími*</label>
    <input type="text" name="phone" id="phone" value="<%= formData.phone %>" class="">
  </div>

  <div class="field<%= locals.isInvalid('comment', errors) ?  ' field--invalid' : '' %>">
    <label for="comment">Athugasemd</label>
    <input type="text" name="comment" id="comment" value="<%= formData.comment %>" class="">
  </div>

  <% if (errors.length > 0) { %>
    <h2 class="errors__title">Villur við skráningu:</h2>
    <ul class="errors">
      <% errors.forEach((error) => { %>
        <li class="error"><label for="<%= error.param %>"><%= error.msg %></label></li>
      <% }); %>
    </ul>
  <% } %>

  <button>Skrifa undir</button>
</form>
